form{
  display: grid;
  background-color: lightgray;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 10px;
  padding: 5px;
  width: 80%;
  margin: auto;
}
input[name=description]{
  height: 100px;

}
button{
  grid-column: 1/-1;
  width: 150px;
  margin: auto;
}

h3{
  grid-column: 1/-1;
  text-align: center;
}


