<form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)" class='container'>
  <h3>Modyfikuj Kurs</h3>
  <div class='form-row'>
    <div class='form-group col-md-4'>
      <label>nazwa: </label><input placeholder="{{course.name}}" name="name"  formControlName="name">
        <span *ngIf="formErrors.name">{{ formErrors.name }}</span>
      </div>

      <div class='form-group col-md-4'>
          <label>ects: </label><input placeholder="{{course.ects}}" name="ects" formControlName="ects">
          <span *ngIf="formErrors.ects">{{ formErrors.ects }}</span>
      </div>

      <div class='form-group col-md-4'>
          <label>semestr: </label><input placeholder="{{course.semester}}" name="semester"  formControlName="semester">
          <span *ngIf="formErrors.semester">{{ formErrors.semester }}</span>
      </div>
  </div>

  <div class='form-row'>
    <div class='form-gorup col-md-6'>
      <label>forma prowadzenia zajęć: </label><input placeholder="{{course.form}}" name="form"  formControlName="form">
      <span *ngIf="formErrors.form">{{ formErrors.form }}</span>
  </div>

  <div class='form-group col-md-6'>
      <label>maksymalna liczba studentów: </label><input placeholder="{{course.studentLimit}}" name="studentLimit"  formControlName="studentLimit">
      <span *ngIf="formErrors.studentLimit">{{ formErrors.studentLimit }}</span>
  </div>
  </div>


  <div class='form-group col-md-4'>
      <label>Link do miniaturki: </label><input name="avatarUrl"  formControlName="avatarUrl">
      <span *ngIf="formErrors.avatarUrl">{{ formErrors.avatarUrl }}</span>
  </div>

  <div class='form-group col-md-4'>
  <label>Ilość oddanych ocen: </label><input placeholder="{{course.countOfRates}}" name="countOfRates"  formControlName="countOfRates">
    <span *ngIf="formErrors.countOfRates">{{ formErrors.countOfRates }}</span>
  </div>

  <div class='form-group col-md-4'>
    <label>Aktualna ocena: </label><input placeholder="{{course.rate}}" name="rate"  formControlName="rate">
      <span *ngIf="formErrors.rate">{{ formErrors.rate }}</span>
    </div>

  <div class='form-group col-md-6'>
      <label>opis przedmiotu: </label><textarea placeholder="{{course.description}}" name="description"  formControlName="description"></textarea>
      <span *ngIf="formErrors.description">{{ formErrors.description }}</span>
  </div>
  <div class='col-md-12'>
    <button type="submit" class="btn btn-secondary">Zatwierdz</button>
  </div>


</form>
